.promo-code {
	padding: 40px 40px 39px;

	border-bottom: 1px solid $color-very-light-grey;

	&__title {
		margin-bottom: 30px;

		font-weight: 700;
		font-size: 18px;
		line-height: 21px;

		color: $color-default-black;
	}

	&__form-wrapper {
		display: flex;
		align-items: center;
	}

	&__input {
		margin-right: 10px;
	}
}
