.button {
	@extend .transition-active;
	display: flex;
	align-items: center;
	justify-content: center;

	height: 40px;
	padding: 8px 30px;

	font-weight: 400;
	font-size: 14px;
	line-height: 24px;

	border: none;
	border-radius: 3px;
	background-color: $color-royal-blue;
	color: $color-default-white;

	cursor: pointer;

	&:hover {
		background-color: rgba($color-royal-blue, 0.8);
	}

	&:active {
		background-color: rgba($color-royal-blue, 0.8);
	}

	&_white {
		padding: 7px 29px;

		border: 1px solid $color-very-light-grey;
		background-color: $color-default-white;
		color: $color-default-black;

		&:hover {
			background-color: $color-very-light-grey;
		}

		&:active {
			background-color: $color-very-light-grey;
		}
	}
}
